@import "./icons.css";
@import './zeroing.css';
#root {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.chat {
	width: 80%;
	height: 75%;
	position: relative;
	bottom: 5%;
}

.message-list {
	display: flex;
	flex-direction: column-reverse;
	overflow-y: auto;
	height: 70%;
	border: 1px solid;
}

.name-wrp {
	display: flex;
	justify-content: flex-end;
}

.name {
	margin-top: 4px;
	margin-right: 10px;
}

.text {
	margin: 10px;
}

.tool-block {
	margin-left: 15px;
	display: flex;
}

.reply {
	width: 250px;
	border: 1px solid;
	margin: 10px;
	border-radius: 10px;
}

.message {
	width: 300px;
	border: 1px solid;
	margin: 10px;
	border-radius: 10px;
}

.dislike-wrp {
	margin-top: 6px;
	margin-left: 5px;
}

.like-wrp {
	margin-top: 6px;
	text-align: center;
}

.fas {
	cursor: pointer;
	margin-right: 2px;
	transition-duration: 0.25s;
}

.fa-thumbs-up:hover {
	color: green;
}

.fa-thumbs-down:hover {
	color: red;
}

.fa-thumbs-down {
	position: relative;
	top: 2px;
	margin-top: 1px;
}

.reply-btn {
	background-color: rgb(194, 194, 194);
	padding: 4px 8px;
	border-radius: 5px;
	margin-left: 243px;
	margin-bottom: 10px;
}

.reply .reply-btn {
	margin-left: 194px;
}

.message-input {
	height: 28%;
	background-color: rgb(28, 52, 116);
	border-radius: 10px;
}

.message-input form {
	padding: 10px;
	padding-right: 0px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.message-input label {
	flex-basis: 70px;
	flex-grow: 1;
	height: 100%;
	width: 90%;
}

.message-input-text {
	padding: 10px;
	border-radius: 10px;
	height: 100%;
	width: 100%;
}

.message-input-button {
	border-radius: 5px;
	cursor: pointer;
	background-color: rgb(194, 194, 194);
	padding: 4px 8px;
	margin: 0px 10px;
}

.pagination {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-bottom: 15px;
}

.pagination input {
	border: 1px solid grey;
	margin-top: 4px;
	width: 40px;
}

.tools {
	display: flex;
	flex-grow: 1;
}

.tools .message-input {
	height: 45px;
	flex-grow: 1;
}

.loading {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

select {
	flex-basis: 100px;
	border: 1px solid;
}